<form action="/results">
  <label for="firstName">Your Name</label>
  <input
    type="text"
    id="firstName"
    name="firstName"
    placeholder="John"
    required
  />
  <label for="secondName">Partner(Lover) Name</label>
  <input
    type="text"
    id="secondName"
    name="secondName"
    placeholder="Jane"
    required
  />
  <button>Check love percentage</button>
</form>
