<form action="/result">
  <label for="firstName">First Name</label>
  <input
    type="text"
    id="firstName"
    name="firstName"
    placeholder="John"
    required
  />
  <label for="secondName">Second Name</label>
  <input
    type="text"
    id="secondName"
    name="secondName"
    placeholder="Jane"
    required
  />
  <button>Submit</button>
</form>
