<div class="results">
  <div class="results__nav">
    <a href="/">← Go Back Home</a>
    <a href="/results?firstName=<%= secondName %>&secondName=<%= firstName %>"
      >Swapp Names</a
    >
  </div>

  <h1><%= title %></h1>

  <h2><%= description %></h2>
</div>
